/*
    This is the mais scss file
    If ypu add more sass files make sure you import them here
*/
@import '@/styles/palette.scss';
@import '@/styles/generic.scss';
@import '@/styles/responsive.scss';

html, body {
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
}